
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2c3e50;
}
::shadow
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
}

button {
    position: relative;
    background-color: rgba(45, 175, 88, 0.933);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background-color: #3498db;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
}


button:active {
    background-color: #000;
}

#lista-tareas {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    text-align: left;
}
#lista-tareas li {
    background: #ecf0f1;
    margin: 8px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#lista-tareas li button {
    background-color: #e74c3c;
    padding: 7px 10px;
    font-size: 14px;
}
